#slider-items .inside{
	margin: 0;
	padding: 0;
}

#slider-items .inside .add_slider_images{
	padding: 0 12px 12px;
}

#slider-items .inside #slider_images_container{
	padding: 0 0 0 9px;
}

#slider-items .inside #slider_images_container ul{
	margin: 0;
	padding: 0;
}

#slider-items .inside #slider_images_container ul:after,
#slider-items .inside #slider_images_container ul:before{
	content: " ";
	display: table;
}

#slider-items .inside #slider_images_container ul:after{
	clear: both;
}

#slider-items .inside #slider_images_container ul li.add,
#slider-items .inside #slider_images_container ul li.image,
#slider-items .inside #slider_images_container ul li.rsc-metabox-sortable-placeholder{
	width: 150px;
	height: 150px; /* temporal */
	float: left;
	cursor: move;
	border: 1px solid #d5d5d5;
	margin: 9px 9px 0 0;
	background: #eee;
	border-radius: 2px;
	position: relative;
	box-sizing: border-box;
}

#slider-items .inside #slider_images_container ul li.add img,
#slider-items .inside #slider_images_container ul li.image img,
#slider-items .inside #slider_images_container ul li.rsc-metabox-sortable-placeholder img{
	width: 100%;
	height: auto;
	display: block;
}

#slider-items .inside #slider_images_container ul li.add .icon:after,
#slider-items .inside #slider_images_container ul li.image .icon:after,
#slider-items .inside #slider_images_container ul li.rsc-metabox-sortable-placeholder .icon:after {
	font-family: dashicons;
	speak: none;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	content: "\f498";
	font-size: 6em;
	line-height: 72px;
	color: #ddd;
}

#slider-items .inside #slider_images_container ul li.add .filename,
#slider-items .inside #slider_images_container ul li.image .filename,
#slider-items .inside #slider_images_container ul li.rsc-metabox-sortable-placeholder .filename {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    bottom: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
    font-weight: 600;
    left: 0;
    max-height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    word-wrap: break-word;
}

#slider-items .inside #slider_images_container ul li.add .filename div,
#slider-items .inside #slider_images_container ul li.image .filename div,
#slider-items .inside #slider_images_container ul li.rsc-metabox-sortable-placeholder .filename div {
    padding: 5px 10px;
}

#slider-items .inside #slider_images_container ul li.rsc-metabox-sortable-placeholder{
	border: 3px dashed #ddd;
	position: relative;
}

#slider-items .inside #slider_images_container ul li.rsc-metabox-sortable-placeholder:after{
	font-family: dashicons;
	speak: none;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	content: "\f161";
	font-size: 2.618em;
	line-height: 72px;
	color: #ddd;
}

#slider-items .inside #slider_images_container ul ul.actions{
	position: absolute;
	top: -8px;
	right: -8px;
	padding: 2px;
	display: none;
}

#slider-items .inside #slider_images_container ul ul.actions li{
	float: right;
	margin: 0 0 0 2px;
}

#slider-items .inside #slider_images_container ul ul.actions li a{
	width: 1em;
	margin: 0;
	height: 0;
	display: block;
	overflow: hidden;
}

#slider-items .inside #slider_images_container ul ul.actions li a.tips{
	cursor: pointer;
}

#slider-items .inside #slider_images_container ul ul.actions li a.delete{
	display: block;
	text-indent: -9999px;
	position: relative;
	height: 1em;
	width: 1em;
	font-size: 1.4em;
}

#slider-items .inside #slider_images_container ul ul.actions li a.delete:before{
	font-family: dashicons;
	speak: none;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	content: "\f153";
	color: #999;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#slider-items .inside #slider_images_container ul ul.actions li a.delete:hover:before{
	color: #a00;
}

#slider-items .inside #slider_images_container ul li:hover ul.actions{
	display: block;
}