.slider .slider-switch {
    margin-bottom: 10px;
}

.slider .toggle-media,
.slider.text-position-hidden .slider-text {
    display: none;
}

.slider.text-position-top .slider-text {
    margin-bottom: 15px;
}

.slider.text-position-bottom .slider-text {
    margin-top: 15px;
}

.slider .slide,
.slider .slider-switch {
    cursor: pointer;
}